body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

html{
  box-sizing: border-box;
     scroll-snap-type: y mandatory;
}

/*VARIABLES (exclusivas de SCSS)*/
$color-verdeOscuro: #033F10;
$color-oscuro: #000000;
$color-verdeClaro: #D4FAA8;


/* GLOBALES */
a{
  text-decoration: none;
  color: $color-oscuro;
}

a:hover, a:active {
  color: yellowgreen;
}

p{
  margin-left: 10px;
}

h1, h2, h3{
  margin-left: 10px;
  color: $color-verdeOscuro;
}

#titulo{
  color: $color-verdeOscuro;
  font-family: 'Rampart One', cursive;
  font-size: 40px;
}

/* ENCABEZADO Y NAVEGACION */

header{
    background-image: url(/imgs/ten-560-c-resize-1400x335_verde.png);
    background-size: cover;
    width: 100%;
    height: 355px;
    display: flex;
    justify-content: space-around;
    align-items: center;
        h1{
            font-size: 50px;
            font-family: 'Rampart One', cursive;
            color: black;
        }
}

@media (max-width: 576px) {
    header{
      height: fit-content;
      display: flex;
      flex-direction: column;
    }
}


.navegacion{
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
    a{
        backdrop-filter: blur(2px);
        color: white;
        padding: 2px;
            &:hover{
                color: yellowgreen;
            }
    }
}

@media (max-width: 576px) {
    .navegacion{
      height: 150px;
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
}

.navegacion__enlace {
  color: $color-verdeOscuro;
  font-weight: bold;
  text-decoration: none; 
}

/* CONTENEDOR PRINCIPAL */

.row{
  padding: 0;
  height: 600px;
  margin-top: 5px;
}

.boletin{ 
  height: 100%;
  background-color: $color-verdeClaro;
  overflow: hidden;
}

.imgNoticia{
  height: 200px;
  width: 300px;
  margin-right: 10px;
  object-fit: contain;
}

.lateral{
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
  
}

.planes, .tutoriales, .tienda{
  background-color: $color-verdeClaro;
  height: 180px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lateral__imgLateral{
  height: 40px;
  width: 50px;
}

.h2-lateral{
  margin-top: 5px;
}


/* FOOTER */
footer{
    width: 100%;
    height: fit-content;
    background-color: $color-verdeClaro;
    color: $color-oscuro;
    font-weight: bold;
    text-align: center;
        p{ /*PRUEBA DE ANIDACION*/
            color: $color-verdeOscuro;
            font-size: small;
            margin-top: 10px;
        }
}

/* Aqui empieza estilo solo del formulario de contacto */


  .contact_form{	
    width: 460px; 
    height: auto;
    margin: 20px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 
  }
  
  
  input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: $color-verdeOscuro; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: $color-verdeOscuro; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center; 	
  }
  
  
  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px; 	
    margin-bottom: 20px; 
    margin-top: 10px; 	
    text-transform: uppercase;
    background-color: $color-verdeOscuro; 
    border-color: $color-verdeOscuro; 
    border-style: solid; 
    border-radius: 10px;	
    width: 420px;   
    cursor: pointer;
  }
  
  
  button p{
    color: #fff; 
  }
  
  
  span{
    color: $color-verdeOscuro; 
  }
  
  
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  
  
  .formulario input:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid #97d848;
  }

  /* Termina estilo de formulario de contacto */